html, body{
    margin: 0;
    padding: 0;
    /* Overflow, ska vi ej */
    overflow: hidden;
    box-sizing: border-box;

}

/* Styla med Id */
#title{
    color:red;
}
/* ID med bredd Hälften av synliga ytan */
#text{
    width: 50vw;
}
/* Class */
.tired{
    color: green;
    font-size: 2rem;
    font-weight: 600;
}
/* Margin och padding */
#margin-box{
    background-color: black;
    width: 80px;
    height: 80px;
    margin: auto;
    border: blue solid 2px;
}

#padding-box{
    background-color: red;
    height: 30px;
    width: 30px;
    padding: 20px 40px;
}
